header {
    box-sizing: border-box;
    padding: 8px;
    background-color: #ADC5FF;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 6px 20px -11px #D432E6;

    position: fixed;
    top: 0;
    width: 100%;
    max-width: 960px;
}

.navbar {
    display: flex;
    align-items: center;
}
.navbar>li{
    list-style-type: none;
    padding: 0 8px;
}

.login100-form-avatar2 {
    height: 60px;
    margin-right: auto;
}
.login100-form-avatar2 img{ height: 100%}