.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background: #fff;*/
}

.wrap-login {
    width: 100%;
    max-width: 390px;
    padding: 0 24px;
    /*background: #fff;*/
}

/*------------------------------------------------------------------
[ Form ]*/
.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.login100-form-avatar {
    display: block;
    width: 240px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-avatar img {
    width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
}

.input100 {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 8px;
}

.input100:focus {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #A5BBF5;
    outline: none;
}

.input100::placeholder {
    color: #bfbfbf;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    padding: 16px;
}


.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #A025AC;
    border-radius: 25px;

    box-shadow: 0 10px 30px 0px #A025AC;
    border: none;
    transition: all 0.4s;
}

.login100-form-btn:focus {
    background-color: #8D2299;
    box-shadow: 0 8px 20px 0px #8D2299;
    outline: none;
}

.login100-form-btn:active {
    background-color: #761C80;
    box-shadow: 0 8px 20px 0px #761C80;
}