
.category-wrap {
    background: #ADC5FF;
    padding: 8px 0;
    border-radius: 8px;
}

.category-wrap h3 {
    padding: 0 8px;
}

.aside-menu li {
    list-style-type: none;
    font-weight: 300;
}

.aside-menu li.active a{
    color: #29c5e6;
}

.aside-menu a {
    width: 100%;
    padding: 8px 16px;
    text-decoration: none;
    /*color: #8f8f8f;*/
    font-size: 20px;
    display: block;
}

.aside-menu a:hover {
    color: #8f8f8f;
}